<div class="form-group">
  <label for="current-password">Current Password:</label>
  {{input type="password" value=model.currentPassword elementId="current-password" class="form-control"}}
  {{#each model.errors.CurrentPassword as |message|}}
    <div class="text-danger">{{message}}</div>
  {{/each}}
</div>

<div class="form-group">
  <label for="new-password">New Password:</label>
  {{input type="password" value=model.newPassword elementId="new-password" class="form-control"}}
  {{#each model.errors.NewPassword as |message|}}
    <div class="text-danger">{{message}}</div>
  {{/each}}
</div>

<div class="form-group">
  <label for="confirm-new-password">Confirm New Password:</label>
  {{input type="password" value=model.confirmNewPassword elementId="confirm-new-password" class="form-control"}}
  {{#each model.errors.ConfirmNewPassword as |message|}}
    <div class="text-danger">{{message}}</div>
  {{/each}}
</div>

<div class="form-actions">
  <button {{action "changePassword" model}} class="btn btn-primary">Change Password</button>
</div>
