{{#link-to "projects.project.error.events" error.id}}
  <div class="error-header">
    <div class="pull-right">
      {{mute-button error=error}}
      {{status-button error=error}}
    </div>
    <strong>{{error.name}}</strong>
  </div>
  <div class="error-body">
    <span class="error-message">
      {{#if error.message}}
        {{error.message}}
      {{else}}
        (no message)
      {{/if}}
    </span>
  </div>
  <div class="error-footer">
    <span class="error-last-seen-at text-muted text-sm">
      Seen {{error.occurrences}} {{pluralize 'time' error.occurrences}} and last seen {{time-ago error.lastSeenAt}}.
    </span>
  </div>

{{/link-to}}
