<div class="row">
  <div class="col-md-8">
    <h4>{{attrs.event.json.trace.name}}</h4>
    <p class="message">{{attrs.event.json.trace.message}}</p>
    <p><a href="{{attr.event.json.url}}">{{attrs.event.json.url}}</a></p>

    {{#if attrs.event.json.processed}}
      {{stack-trace trace=attrs.event.json.trace}}
    {{/if}}
  </div>
  <div class="col-md-4">
    <h4>Meta</h4>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>Last Seen:</td>
          <td>{{attrs.event.createdAt}}<br><small>{{time-ago attrs.event.createdAt}}</small></td>
        </tr>
        <tr>
          <td>First Seen:</td>
          <td>{{attrs.event.createdAt}}<br><small>{{time-ago attrs.event.createdAt}}</small></td>
        </tr>
        <tr>
          <td>User Agent</td>
          <td>{{attrs.event.json.userAgent}}</td>
        </tr>
      </tbody>
    </table>

    <h4>Libaries</h4>
    <table class="table table-condensed">
      <tbody>
      {{#each event.json.libaries as |lib|}}
        <tr>
          <td>{{lib.name}}</td>
          <td>{{lib.version}}</td>
        </tr>
      {{else}}
        <tr>
          <td class="text-muted text-center">No libaries reported</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
