<div class="row">
  <div class="col-md-8">
    <h4>{{error.json.trace.name}}</h4>
    <p class="message">{{error.json.trace.message}}</p>
    <p><a href="{{error.json.url}}">{{error.json.url}}</a></p>

    {{#if error.json.processed}}
      {{stack-trace trace=error.json.trace}}
    {{/if}}
  </div>
  <div class="col-md-4">
    <h4>Meta</h4>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>When:</td>
          <td>{{error.createdAt}}<br><small>{{time-ago error.createdAt}}</small></td>
        </tr>
        <tr>
          <td>First Seen</td>
          <td>{{error.createdAt}}<br><small>{{time-ago group.createdAt}}</small></td>
        </tr>
        <tr>
          <td>User Agent</td>
          <td>{{error.json.userAgent}}</td>
        </tr>
      </tbody>
    </table>

    <h4>Libaries</h4>
    <table class="table table-condensed">
      <tbody>
      {{#each error.json.libaries as |lib|}}
        <tr>
          <td>{{lib.name}}</td>
          <td>{{lib.version}}</td>
        </tr>
      {{else}}
        <tr>
          <td class="text-muted text-center">No libaries reported</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
