{{#link-to "projects.project.errors.error.events.latest" error.id}}
  <div class="error-header">
    {{status-button error=error}}
    <strong>{{error.name}}</strong>
    <span class="error-occurrences pull-right">
      <span class="glyphicon glyphicon-fire"></span>
      {{error.occurrences}}
    </span>
  </div>
  <div class="error-body">
    <span class="error-message">
      {{#if error.message}}
        {{error.message}}
      {{else}}
        (no message)
      {{/if}}
    </span>
  </div>
  <div class="error-footer">
    <span class="error-last-seen-at text-muted text-sm">
      Last seen {{time-ago error.lastSeenAt}}.
    </span>
  </div>
{{/link-to}}
