{{#link-to "projects.project.errors.error.events.latest" group.id}}
  <div class="group-header">
    {{status-button group=group}}
    <strong>{{group.name}}</strong>
    <span class="group-occurrences pull-right">
      <span class="glyphicon glyphicon-fire"></span>
      {{group.occurrences}}
    </span>
  </div>
  <div class="group-body">
    <span class="group-message">
      {{#if group.message}}
        {{group.message}}
      {{else}}
        (no message)
      {{/if}}
    </span>
  </div>
  <div class="group-footer">
    <span class="group-last-seen-at text-muted text-sm">
      Last seen {{time-ago group.lastSeenAt}}.
    </span>
  </div>
{{/link-to}}
