<code class="block">
  <span class="file">{{file}}</span>
  <a class="pull-right" {{action "toggleExpanded"}} href="#toggle">show source</a>
</code>
<ol start="{{start-line frame}}" class="lines">
  {{~#each lines as |line| ~}}
    <li class="{{line.css}} line">{{line.line}}</li>
  {{~/each~}}
</ol>
