<div class="errors container-fluid">
  <div class="errors-toolbar">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Show by status: <strong>{{status}}</strong> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#each statusValues as |status|}}
          <li><a href="#" {{action "changeStatus" status}}>{{status}}</a></li>
        {{/each}}
      </ul>
    </div>

    {{#if library}}
      {{#link-to (query-params library=null)}}
        Clear lib
      {{/link-to}}
    {{/if}}

    <button class="btn btn-success pull-right btn-xs" {{action "resolveAllErrors"}}>Resolve All</button>
  </div>

  <div class="error-summarys">
    {{#each sortedErrors as |error|}}
      {{error-summary error=error currentError=currentError}}
    {{else}}
      <h4 class="text-muted text-center">YAY no errors :)</h4>
    {{/each}}
  </div>

  {{prev-next pagination=pagination next=(action "nextPage") prev=(action "prevPage")}}
</div>
