<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      {{#each model as |revision|}}
        <div class="outdated-revision">
          <h1>{{revision.sha}}</h1>
          <h2>master</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Filename</th>
                <th>Name</th>
                <th>Your Version</th>
                <th>Lastest Version</th>
              </tr>
            </thead>
            <tbody>
            {{#each revision.dependencies as |dep|}}
              <tr>
                <td>{{dep.location}}</td>
                <td>{{dep.name}}</td>
                <td>{{dep.target}}</td>
                <td>{{dep.latest}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      {{/each}}
    </div>
  </div>
</div>
