<!-- projects.project.groups.group -->
<div class="nav simple-nav">
  {{#if currentEvent.model}}
    {{#link-to "projects.project.errors.error.events.event.index" currentEvent.model}}
      Overview
    {{/link-to}}
    {{#link-to "projects.project.errors.error.events.event.stack" currentEvent.model}}
      Stack
    {{/link-to}}
  {{/if}}
  {{#link-to "projects.project.errors.error.events.index"}}
    All Events ({{currentEvents.model.meta.pagination.total}})
  {{/link-to}}

  <a href="#" {{action "muteGroup" model}} class="{{if model.muted 'text-danger'}}">
    {{#if model.muted}}Unmute{{else}}Mute{{/if}}
  </a>
</div>

<div class="container-fluid">
  {{outlet}}
</div>
