<div class="header-signup">
  <img src="/kang.png" alt="Erraro Kangargoo" style="margin-left: -50px"/>
  <h1>Create a New Account</h1>
  <p>Come on in, the little kangaroo doesn't bite :D</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="form-signup">
        {{#if message}}
          <div class="alert alert-danger">
            {{message}}
          </div>
        {{/if}}

        <div class="form-group {{if errors.Email 'has-error'}}">
          <label for="email">Email</label>
          {{input value=email elementId="email" class="form-control" placeholder="bob@example.com"}}
          {{#each errors.Email as |message|}}<p class="help-block">{{message}}</p>{{/each}}
        </div>

        <div class="form-group {{if errors.Password 'has-error'}}">
          <label for="password">Password</label>
          {{input value=password elementId="password" type="password" class="form-control" placeholder="super secret"}}
          {{#each errors.Password as |message|}}<p class="help-block">{{message}}</p>{{/each}}
        </div>

        <div class="form-actions">
          <button class="btn btn-lg btn-primary btn-block" type="submit" {{action "signup"}}>Sign up</button>
        </div>
      </form>

      <p class="text-center">
        {{#link-to "login"}}Already have an account?{{/link-to}}
      </p>
    </div>
  </div>
</div>
